@model IEnumerable<ManufacturingCompany.Models.Payroll>

@{
    ViewBag.Title = "Select Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="card text-white bg-primary">Select a Payroll</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.period_begin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.period_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.federal_tax_witholding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state_tax_witholding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grand_total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.period_begin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.period_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.federal_tax_witholding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state_tax_witholding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grand_total)
        </td>
        <td>
            @if (ViewBag.ActionName == null || (string)ViewBag.ActionName == "")
            {
                @Html.ActionLink("Select", "Create", "Paychecks", new { payrollid = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
            }
            else
            {
                @Html.ActionLink("Select", (string)ViewBag.ActionName, "Paychecks", new { id = (int)ViewBag.PaycheckID, payrollid = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
            }
        </td>
    </tr>
}

</table>
