@model ManufacturingCompany.Models.Delivery_Schedule

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="DeliveryScheduleContent"></div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.warehouse_employee_id)
        @Html.HiddenFor(model => model.driver_employee_id)
        @Html.HiddenFor(model => model.invoice_id)
        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUser.UserName, "Warehouse Employee", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AspNetUser.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "true", @style = "display:inline-block;" } })
                @Html.ActionLink("Select a Warehouse Employee", "Index", "SelectUser", new { actionName = "Create", controllerName = "Delivery_Schedule", optionalDirection = "Warehouse" }, htmlAttributes: new { @class = "btn btn-primary", @style = "margin-left:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUser1.UserName, "Driver", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AspNetUser1.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "true", @style = "display:inline-block;" } })
                @Html.ActionLink("Select a Driver", "Index", "SelectUser", new { actionName = "Create", controllerName = "Delivery_Schedule", optionalDirection = "Driver" }, htmlAttributes: new { @class = "btn btn-primary", @style = "margin-left:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.delivery_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.delivery_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.delivery_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.delivery_cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.delivery_cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.delivery_cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_delivered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.is_delivered)
                    @Html.ValidationMessageFor(model => model.is_delivered, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.invoice_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.invoice_id, new { htmlAttributes = new { @class = "form-control", @disabled = "true", @style = "display:inline-block;" } })
                @Ajax.ActionLink("Select an Invoice", "Index", "PartialSelectInvoice", new { actionName = "Create", controllerName = "Delivery_Schedule", contentID = "DeliveryScheduleContent" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "DeliveryScheduleContent", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-primary", @style = "margin-left:20px" })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
