@model ManufacturingCompany.Models.Delivery_Schedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.delivery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delivered)
        </dd>

        <dt>
            @Html.DisplayName("Warehouse Employee")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayName("Driver")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn bn-default" })
        </div>
    }
</div>
