@model IEnumerable<ManufacturingCompany.Models.Delivery_Lineitem>

<p>
    @Html.ActionLink("Create New", "CreateLineitem")
</p>
<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.lineitem_unit_quantity)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Delivery_Schedule.warehouse_employee_id)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Invoice_Lineitem.Id)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Product_Inventory.Id)
        </th>
        <th class="text-info"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_Schedule.warehouse_employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Lineitem.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Inventory.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
