@model ManufacturingCompany.Models.Delivery_Schedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.delivery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delivered)
        </dd>

        <dt>
            @Html.DisplayName("Warehouse Employee")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayName("Driver")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>

    </dl>
</div>

<h2>Delivery Items</h2>

@Html.Action("PartialIndex", "Delivery_Lineitem", new { deliveryScheduleID = Model.Id })

<p>
    @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" }) 
    }
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
