@model IEnumerable<ManufacturingCompany.Models.Delivery_Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
    {
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.delivery_date)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.delivery_cost)
        </th>
        <th class="text-center text-info">
            @Html.DisplayNameFor(model => model.is_delivered)
        </th>
        <th class="text-info">
            @Html.DisplayName("Warehouse Employee")
        </th>
        <th class="text-info">
            @Html.DisplayName("Driver")
        </th>
        <th class="text-info"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_cost)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.is_delivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            
            @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
            { 
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
