
@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finance</h2>

<div class="col-md-2"></div>
<div class="col-md-8" style="text-align:center">
    @Html.ActionLink("Invoices", "Index", "Invoices", null, htmlAttributes: new { @class = "btn btn-default", @style = "width:100%"})
    <br />
    <br />
    @Html.ActionLink("Payments", "Index", "Payments", null, htmlAttributes: new { @class = "btn btn-default", @style = "width:100%" })
    <br />
    <br />
    @Html.ActionLink("Timesheets", "Index", "Timesheets", null, htmlAttributes: new { @class = "btn btn-default", @style = "width:100%" })
    <br />
    <br />
    @Html.ActionLink("Payrolls", "Index", "Payrolls", null, htmlAttributes: new { @class = "btn btn-default", @style = "width:100%" })
    <br />
    <br />
    @Html.ActionLink("Paychecks", "Index", "Paychecks", null, htmlAttributes: new { @class = "btn btn-default", @style = "width:100%" })
    <br />
    <br />
</div>
<div class="col-md-2"></div>

<div style="clear:both">&nbsp;<br /></div>