@model IEnumerable<ManufacturingCompany.Models.Timesheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-2" style="margin-bottom:10px; display:inline-block;">
            @Html.Label("Search By : ", htmlAttributes: new { @class = "form-control", @style = "border:none;" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.DropDownList("SearchBy", (SelectList)ViewBag.SearchBy, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.TextBox("inputForUserSearch", "", new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            <input type="submit" value="Search" class="btn btn-success" style="display:inline-block;" />
        </div>
    </div>
}

<br />
@if (ViewBag.ErrorString != null || ViewBag.ErrorString != "")
{
    <div style="text-align:center;">
        @Html.Label((string)ViewBag.ErrorString, htmlAttributes: new { @class = "text-danger" })
    </div>
}
<br />

<hr />

<p>
    @Html.ActionLink("Create New", "Index", "SelectUser", new { actionName = "Create", controllerName = "Timesheets"}, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.punch_in_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.punch_out_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timesheet_date)
        </th>
        <th>
            Employee Username
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.punch_in_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.punch_out_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timesheet_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }
}

</table>
