@model IEnumerable<ManufacturingCompany.Models.Timesheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Timesheet")

<p>
    @Html.ActionLink("Create New", "Index", "SelectUser", new { actionName = "Create", controllerName = "Timesheets"}, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.punch_in_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.punch_out_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timesheet_date)
        </th>
        <th>
            Employee Username
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.punch_in_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.punch_out_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timesheet_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
