@model IEnumerable<ManufacturingCompany.Models.Invoice_Lineitem>


<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.ProductInventory.Product.product_name)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.ProductInventory.Product.product_unit_measure)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.ProductInventory.unit_per_package)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.lineitem_unit_quantity)
        </th>
        <th class="text-info"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.unit_per_package)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
            </td>
            <td>
                @Html.ActionLink("Create Delivery Item", "SelectLineitem", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
            </td>            
        </tr>
    }

</table>
