@model ManufacturingCompany.Models.Invoice_Lineitem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Invoice_Lineitem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.product_inventory_id)
        @Html.HiddenFor(model => model.invoice_id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInventory.Product.product_name, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductInventory.Product.product_name, new { htmlAttributes = new { @class = "form-control", @disabled = "true", @style = "display:inline-block;" } })
                @*@Html.ActionLink("Edit Employee", "Index", "SelectUser", new { actionName = "Edit", controllerName = "Invoices", optionalID = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @style = "margin-left:20px;" })*@
                @Html.ActionLink("Edit Product", "Index", "SelectProductInventory", new { actionName = "Create", controllerName = "Invoice_Lineitem", optionalID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-primary", @style = "margin-left:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lineitem_unit_quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lineitem_unit_quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lineitem_unit_quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
