@model IEnumerable<ManufacturingCompany.Models.Invoice_Lineitem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lineitem_unit_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Inventory.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Inventory.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
