@model IEnumerable<ManufacturingCompany.Models.Invoice_Lineitem>

<br />

<h4>Lineitems</h4>

<p>
    @Html.ActionLink("Create New", "Create", "Invoice_Lineitem", new { invoiceID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th class="text-info">@Html.DisplayNameFor(model => model.lineitem_unit_quantity)</th>
        <th class="text-info">@Html.DisplayNameFor(model => model.ProductInventory.Product.product_name)</th>
        <th class="text-info">@Html.DisplayNameFor(model => model.ProductInventory.Product.product_unit_measure)</th>
        <th class="text-info">@Html.DisplayNameFor(model => model.ProductInventory.unit_per_package)</th>
        <th class="text-right text-info">@Html.DisplayNameFor(model => model.ProductInventory.per_package_price)</th>
        <th class="text-right text-info">@Html.DisplayNameFor(model => model.LineitemTotal)</th>
        <th class="text-info"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.lineitem_unit_quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductInventory.unit_per_package)</td>
            <td class="text-right">@Html.DisplayFor(modelItem => item.ProductInventory.per_package_price)</td>
            <td class="text-right text-info">@Html.DisplayFor(modelItem => item.LineitemTotal)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, optionalID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-warning" })
                @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
                {
                    @Ajax.ActionLink("Delete", "PartialDelete", new { id = item.Id, optionalID = (int)ViewBag.InvoiceID }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Lineitems", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }

</table>


