@model IEnumerable<ManufacturingCompany.Models.Invoice_Lineitem>

<br />

<h4>Lineitems</h4>

<p>
    @Html.ActionLink("Create New", "Create", "Invoice_Lineitem", new { invoiceID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductInventory.Product.product_name)</th>
        <th>@Html.DisplayNameFor(model => model.ProductInventory.Product.product_unit_measure)</th>
        <th>@Html.DisplayNameFor(model => model.lineitem_unit_quantity)</th>
        <th class="text-right">@Html.DisplayNameFor(model => model.ProductInventory.per_package_price)</th>
        <th class="text-right">@Html.DisplayNameFor(model => model.LineitemTotal)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)</td>
            <td>@Html.DisplayFor(modelItem => item.lineitem_unit_quantity)</td>
            <td class="text-right">@Html.DisplayFor(modelItem => item.ProductInventory.per_package_price)</td>
            <td class="text-right text-info">@Html.DisplayFor(modelItem => item.LineitemTotal)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, invoiceID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, invoiceID = (int)ViewBag.InvoiceID }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


