@model ManufacturingCompany.Models.Customer_Contact

@{
    ViewBag.Title = "DeleteContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_CustomerContact")

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.work_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.work_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customer_company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customer_company_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Details", new { id = Model.customer_id }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
