@model ManufacturingCompany.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_website)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
