@model ManufacturingCompany.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Customer")

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_website)
        </dd>

    </dl>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<hr />

<div class="container">
    <h3>Contacts</h3>
</div>

@Html.ActionLink("Create Contact", "CreateContact", "Customers", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })

<br />
<br />

<table class="table">
    <tr>
        <th class="text-info">
            First Name
        </th>
        <th class="text-info">
            Last Name
        </th>
        <th class="text-info">
            Office Phone
        </th>
        <th class="text-info">
            Mobile Phone
        </th>
        <th class="text-info">
            Fax Number
        </th>
        <th class="text-info">
            Email
        </th>
        <th class="text-info"></th>
    </tr>

    @foreach (var item in Model.Customer_Contact)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact_email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContact", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Delete", "DeleteContact", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
