@model IEnumerable<ManufacturingCompany.Models.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayName("Payment Number")
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.invoice_id)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Invoice.Customer.customer_company_name)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.payment_date)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.payment_type)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.payment_total)
        </th>
        <th class="text-info"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invoice_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.Customer.customer_company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
