@model IEnumerable<ManufacturingCompany.Models.Invoice>

@using (Ajax.BeginForm("PartialSelectInvoice", new { actionName = (string)ViewBag.ActionName, optionalID = (int?)ViewBag.OptionalID}, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "SelectInvoice", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-2" style="margin-bottom:10px; display:inline-block;">
            @Html.Label("Search By : ", htmlAttributes: new { @class = "form-control", @style = "border:none;" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.DropDownList("SearchBy", (SelectList)ViewBag.SearchBy, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.TextBox("inputForUserSearch", "", new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
}

<br />
@if (ViewBag.ErrorString != null && ViewBag.ErrorString != "")
{
    <div style="text-align:center;">
        @Html.Label((string)ViewBag.ErrorString, htmlAttributes: new { @class = "text-danger" })
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            Invoice Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoice_date)
        </th>
        <th>
            @Html.DisplayName("Employee Username")
        </th>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th class="text-right">
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.customer_company_name)
            </td>
            <td class="text-lg-right text-info">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })*@
                @Html.ActionLink("Select", (string)ViewBag.ActionName, "Payments", new { id = (int?)ViewBag.OptionalID, invoiceID = item.Id }, htmlAttributes: new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
