@model ManufacturingCompany.Models.Material

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.material_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material_note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material_note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
