@model ManufacturingCompany.Classes.PaycheckViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Paycheck")

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Payroll.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payroll.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfPaycheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfPaycheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paycheck_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paycheck_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payroll_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payroll_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_type)
        </dd>

        @if (Model.ModeOfPaycheck == ManufacturingCompany.Classes.PaycheckViewModel.PaycheckMode.Check)
        {
            <dt>
                @Html.DisplayNameFor(model => model.check_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.check_number)
            </dd>
        }

        @if (Model.ModeOfPaycheck == ManufacturingCompany.Classes.PaycheckViewModel.PaycheckMode.Deposit)
        {
            <dt>
                @Html.DisplayNameFor(model => model.direct_deposit_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direct_deposit_number)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.payment_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
