@model IEnumerable<ManufacturingCompany.Models.Product_Inventory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="card text-white bg-primary">Select a product in the inventory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-2" style="margin-bottom:10px; display:inline-block;">
            @Html.Label("Search By : ", htmlAttributes: new { @class = "form-control", @style = "border:none;" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.DropDownList("SearchBy", (SelectList)ViewBag.SearchBy, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            @Html.TextBox("inputForUserSearch", "", new { @class = "form-control" })
        </div>

        <div class="col-md-3" style="margin-bottom:10px; display:inline-block;">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
}

<br />
@if (ViewBag.ErrorString != null || ViewBag.ErrorString != "")
{
    <div style="text-align:center;">
        @Html.Label((string)ViewBag.ErrorString, htmlAttributes: new { @class = "text-danger" })
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_per_package)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_package_price)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_per_package)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_package_price)
        </td>
        @if (ViewBag.OptionalID == null)
        {
            using (Html.BeginForm((string)ViewBag.ActionName, (string)ViewBag.ControllerName, new { id = item.Id }, FormMethod.Get))
            {
                <td>
                    @Html.TextBox("Quantity", item.unit_quantity, htmlAttributes: new { @class = "form-control", @type = "number" })
                </td>
                <td>
                    <input type="submit" value="Select" class="btn btn-outline-success" />
                </td>
            }
        }
        else
        {
            using (Html.BeginForm((string)ViewBag.ActionName, (string)ViewBag.ControllerName, new { id = (int?)ViewBag.OptionalID, optionalID = item.Id }, FormMethod.Get))
            {
                <td>
                    @Html.TextBox("Quantity", item.unit_quantity, htmlAttributes: new { @class = "form-control", @type = "number" })
                </td>
                <td>
                    <input type="submit" value="Select" class="btn btn-outline-success" />
                </td>
            }
        }

    </tr>
}

</table>
