@model IEnumerable<ManufacturingCompany.Models.Delivery_Lineitem>

<p>
    @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
    {
        @Html.ActionLink("Select item from queue", "SelectItem", new { deliveryScheduleID = (int)ViewBag.DeliveryScheduleID }, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<table class="table">
    <tr>
        <th class="text-info">
            Invoice Number
        </th>
        <th class="text-info">
            Customer Name
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.lineitem_unit_quantity)
        </th>
        <th class="text-info">
            Inventory Number
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Product_Inventory.Product.product_name)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Product_Inventory.unit_per_package)
        </th>
        <th class="text-info"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Lineitem.invoice_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Lineitem.Invoice.Customer.customer_company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Inventory.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductInventory.unit_per_package)
        </td>
        <td>
            @if (User.IsInRole("SuperUser") || User.IsInRole("Manager") || User.IsInRole("Supervisor"))
            {
                @Html.ActionLink("Remove", "RemoveItem", new { id = item.Id, deliveryScheduleID = (int)ViewBag.DeliveryScheduleID }, htmlAttributes: new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
