@model IEnumerable<ManufacturingCompany.Models.Delivery_Lineitem>

@{
    ViewBag.Title = "SelectItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-danger">
    @if ((string)ViewBag.ErrorMessage != "")
    {
        @ViewBag.ErrorMessage
    }
</div>

<table class="table">
    <tr>
        <th class="text-info">
            Invoice Number
        </th>
        <th class="text-info">
            Customer Name
        </th>
        <th class="text-info">
            Inventory Number
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Product_Inventory.Product.product_name)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Product_Inventory.unit_per_package)
        </th>
        <th class="text-info">
            Invoice Quantity
        </th>
        <th class="text-info">
            Quantity
        </th>
        <th class="text-info"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Lineitem.invoice_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Lineitem.Invoice.Customer.customer_company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Inventory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.unit_per_package)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
            </td>
            @using (Html.BeginForm("SelectItem", "Delivery_Lineitem", new { id = item.Id, deliveryScheduleID = (int)ViewBag.DeliveryScheduleID }, FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                <td>
                    @Html.TextBox("Quantity", item.lineitem_unit_quantity, htmlAttributes: new { @class = "form-control", @type = "number" })
                </td>
                <td>
                    <input type="submit" value="Select" class="btn btn-outline-success" />
                </td>
            }
        </tr>
    }
</table>