@model ManufacturingCompany.Models.Invoice

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.invoice_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.invoice_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.customer_company_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.customer_company_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subtotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd class="text-info">
                @Html.DisplayFor(model => model.Total)
            </dd>

        </dl>
    </div>

    <div>
        <h3> Items</h3>

        <table class="table">
            <tr>
                <th class="text-info">@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.Product.product_name)</th>
                <th class="text-info">@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.Product.product_unit_measure)</th>
                <th class="text-info">@Html.DisplayNameFor(model => model.Lineitems.Single().lineitem_unit_quantity)</th>
                <th class="text-right text-info">@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.per_package_price)</th>
                <th class="text-right text-info">@Html.DisplayNameFor(model => model.Lineitems.Single().LineitemTotal)</th>
            </tr>
            @foreach (var item in Model.Lineitems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)</td>
                    <td>@Html.DisplayFor(modelItem => item.lineitem_unit_quantity)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.ProductInventory.per_package_price)</td>
                    <td class="text-right">@Html.DisplayFor(modelItem => item.LineitemTotal)</td>
                </tr>
            }
        </table>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
