@model ManufacturingCompany.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.invoice_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customer_company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customer_company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd class="text-info">
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>

        <dd class="text-info">
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>

    </dl>
</div>

<div>
    <h3> Items</h3>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.Product.product_name)</th>
            <th>@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.Product.product_unit_measure)</th>
            <th>@Html.DisplayNameFor(model => model.Lineitems.Single().lineitem_unit_quantity)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Lineitems.Single().ProductInventory.per_package_price)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Lineitems.Single().LineitemTotal)</th>
        </tr>
        @foreach (var item in Model.Lineitems)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)</td>
                <td>@Html.DisplayFor(modelItem => item.lineitem_unit_quantity)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.ProductInventory.per_package_price)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.LineitemTotal)</td>
            </tr>
        }
    </table>
</div>

<div>
    <h3> Delivered</h3>

    <table class="table">
        <tr>
            <th>
                Invoice Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryItems.Single().Delivery_Schedule.delivery_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryItems.Single().Product_Inventory.Product.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryItems.Single().Product_Inventory.Product.product_unit_measure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryItems.Single().Product_Inventory.unit_per_package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryItems.Single().lineitem_unit_quantity)
            </th>
        </tr>

        @foreach (var item in Model.DeliveryItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice_Lineitem.invoice_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_Schedule.delivery_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Inventory.Product.product_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Inventory.Product.product_unit_measure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Inventory.unit_per_package)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

