@model List<ManufacturingCompany.Models.Lineitem>

@{
    ViewBag.Title = "SelectItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Add New", "Index", "SelectProductInventory", new { actionName = "SelectItems", controllerName = "Invoices"}, htmlAttributes: new { @class = "btn btn-default"})
</p>

<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().ProductInventory.Product.product_name)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().ProductInventory.Product.product_unit_measure)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().ProductInventory.unit_per_package)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().ProductInventory.per_package_price)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().lineitem_unit_quantity)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().PackageQuantity)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.Single().LineitemTotal)
        </th>
        <th class="text-info"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.Product.product_unit_measure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.unit_per_package)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.per_package_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineitem_unit_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineitemTotal)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveItem", new { id = item.product_inventory_id}, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<hr class="navbar-inverse" />

<div class="container">
    <div class="text-lg-right">
        @Html.ActionLink("Next >>", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })
    </div>
</div>