@model ManufacturingCompany.Models.Invoice_Lineitem

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lineitem_unit_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lineitem_unit_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.employee_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.employee_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Inventory.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Inventory.Id)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "InvoiceLineitems", new { invoiceID = (int)ViewBag.InvoiceID }, FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Ajax.ActionLink("Back to List", "index", "InvoiceLineitems", new { invoiceID = (int)ViewBag.InvoiceID }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Lineitems", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
